body{
	background-color:#777;
}

.gridContainer{
	background-color:white;
	display:grid;
	position:absolute;
	margin: 0;
	top: 47%;
	left: 50%;
	width:570px;
	height:570px;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	
}

.gridBox{
	display:grid;
		
}

.navBar{
	position:absolute;
	bottom:0;
	margin-bottom:40px;
	margin-left:20px;
	
}

.chooseNumberButton, .clearButton, .rainbowButton, .blackButton, .slowButton{
	display:inline;
	background-color:#4285f4;
	color:white;
	
	padding: 12px;
	border: 1px solid #4285f4;
	border-radius:10px;
	
	margin-right:20px;
}
.chooseNumberButton:hover, .clearButton:hover, .rainbowButton:hover, .blackButton:hover, .slowButton:hover{
	color:white;
	text-decoration:none;
	cursor:pointer;
	border:0.3px solid #000;
}

.chooseNumberButton:active, .clearButton:active, .rainbowButton:active, .blackButton:active, .slowButton:active{
	background-color:#5396f5;
	text-decoration:none;
	cursor:pointer;
	border:0.3px solid #000;
}

.statusBar{
	position:absolute;
	top:8.2%;
	margin:0;
}

.statusBar div{
	color:white;
	background-color:#8510d8;
	font-size:20px;
	padding:20px;
	margin-bottom:30px;
	margin-left:20px;
}